{% extends "event_a_mom/base.html" %}

{% block title %}{{ event_name }}{% endblock %}

{% block body_block %}
<div>
    <h1>{{ event_name }}</h1>
    <br/>

    {% if eventDetails %}
    <ul>
        {% for eventDetail in eventDetails %}
        <li><a href="{{ eventDetail.url }}">{{ eventDetail.title }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <strong>No event details currently in events.</strong>
    {% endif %}

    {% if user.is_authenticated %}
    <a href="/event_a_mom/event/{{ event_name_url }}/add_details/">Add a Specifc Event</a>
    {% endif %}
</div>
{% endblock %}
